body{
    min-width: 1100px;
    max-width: 1600px;

    font-family: "Inter", arial, sans-serif;
    font-size: 16px;
    line-height:20px;

    font-family: "Noto-Serif", Times, sans-serif;

    }
.header{
    background: #fff url(background_header.svg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    box-sizing: border-box;
    padding: 30px 80px 40px;
    
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    position: relative;
    width: 105px;
    height: 39px;
    left: -50px;

}

.nav-links{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    
}

.header-title{
    margin-top: 183px;
    max-width: 709;

}

.header-description{
 max-width: 683px;

}
.span-accent{
    color: #ff976b;
    display: block;
    font-family: "Inter", arial, sans-serif;
    font-size: 45px;
    font-style: italic;
    line-height:20px;
    margin-bottom: 30px;

}
.span{
    font-size: 60px;
    font-weight:bold;
}
.header-description{
    font-size: 16px;
    color:#000000
}
.header-image{
    width: 646px;
    height:568px;
    position: absolute;
    top: 124px;
    right: 5px;

}
.header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.info-text{
    margin: 0;
    color:#6f6f6f;
    justify-content: space-between;
    
}
.content{

}

.footer{
    
}